<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.glut.lpj.backend.Mapper.MerchantMapper">

    <insert id="insertStore" parameterType="cn.edu.glut.lpj.backend.pojo.Store">
        INSERT INTO stores
            (store_id, login_code, owner, brand, phone, create_time)
        VALUES
            (#{store_id}, #{login_code}, #{owner}, #{brand}, #{phone}, #{create_time})
    </insert>

    <delete id="deleteStore">
        DELETE FROM stores WHERE store_id = #{store_id}
    </delete>

    <update id="updateStore" parameterType="cn.edu.glut.lpj.backend.pojo.Store">
        UPDATE stores SET
                          login_code ='123456ok',
                          owner = #{owner},
                          brand = #{brand},
                          phone = #{phone}
        WHERE store_id = #{store_id}
    </update>

    <select id="getAllStores" resultType="cn.edu.glut.lpj.backend.pojo.Store">
        SELECT * FROM stores
    </select>

    <select id="getAllStoreIds" resultType="String">
        SELECT store_id FROM stores
    </select>

</mapper>